<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>

<body>
<h2>Reservations</h2>
<div th:unless="${#lists.isEmpty(reservationList)}">
    <dl th:each="reservation : ${reservationList}">
        <dt class="bookHeadline">
            <span th:text="${reservation.reservationNumber}">ReservationNumber</span>
        </dt>
        <dd><span th:text="${reservation.destination}">Destination</span> </dd>
        <dd><span th:text="${reservation.departure}">Departure</span> </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(reservationList)}">
    <p>You have no reservations yet</p>
</div>

<hr/>

<h3>Add a reservation</h3>
<form method="POST">
    <label for="reservationNumber">ReservationNumber:</label>
    <input type="text" name="reservationNumber" size="50"></input><br/>
    <label for="destination">Destination:</label>
    <input type="text" name="destination" size="50"></input><br/>
    <label for="departure">departure:</label>
    <input type="text" name="departure" size="15"></input><br/>

    <input type="submit"></input>

</form>

</body>
</html>